@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>

@if (Model.Clients.Count == 0)
{
  <p>Stylist has no clients.</p>
  <p>@Html.ActionLink("Add new client", "Create", "Clients")</p>
}
else
{
  <h3>Clients</h3>

  <table class="table-bordered">
    <tr>
      <th class="col">@Html.DisplayNameFor(model => model.Clients[0].Name)</th>
      <th class="col">@Html.DisplayNameFor(model => model.Clients[0].Phone)</th>
      <th class="col">@Html.DisplayNameFor(model => model.Clients[0].Email)</th>
    </tr>
    @foreach (Client client in Model.Clients)
    {
      <tr>
        <td>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId } )</td>
        <td>@client.Phone</td>
        <td>@client.Email</td>
      </tr>
    }
  </table>
}

@if (Model.Appointments.Count == 0)
{
  <p>No upcoming appointments</p>
  <p>@Html.ActionLink("Add an appointment", "Create", "Appointments")</p>
}
else
{
    <h3>Appointments</h3>

  <table class="table-bordered">
    <tr>
      <th class="col">@Html.DisplayNameFor(model => model.Appointments[0].Date)</th>
      <th class="col">@Html.DisplayNameFor(model => model.Appointments[0].Time)</th>
      <th class="col">@Html.DisplayNameFor(model => model.Appointments[0].Client)</th>
    </tr>
    @foreach (Appointment appointment in Model.Appointments)
    {
      <tr>
        <td>@Html.ActionLink($"{appointment.Date.ToString("MM/dd/yyyy")}", "Details", "Appointments", new { id = appointment.AppointmentId } )</td>
        <td>@appointment.Time.ToString("hh':'mm")</td>
        @foreach (Client client in Model.Clients)
        {
          if (client.ClientId == appointment.ClientId)
          {
            <td>@client.Name</td>
          }
        }
      </tr>
    }
  </table>
}
