@{
  Layout = "_Layout";
}
@model HairSalon.Models.Appointment

<h2>Add New Appointment</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Date)
  @Html.TextBoxFor(model => model.Date, new { type = "date" })

  @Html.LabelFor(model => model.Time)
  @Html.TextBoxFor(model => model.Time, new { type = "time" })

  @Html.LabelFor(model => model.Client)
  @Html.DropDownList("ClientId")

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Add Appointment" />
}